.row
  .col-lg-12
    .card.card-block

      .col-lg-12
        .text-center
          h4.card-title ABOUT

      .col-lg-12.text-center
        p.lead
          | Built by&nbsp;
          a(href='http://aeks.co', target='_blank') Alexander Schwartzberg
          | &nbsp;for&nbsp;
          a(href='https://rcos.io/', target='_blank') RCOS.

      .col-lg-12.text-center
        a.btn.btn-lg.btn-secondary(href='https://github.com/aeksco/pantograph_cv', target='_blank')
          i.fa.fa-fw.fa-github
          | &nbsp;
          | Github Repository
