.modal-body
  .row
    .col-lg-12.text-center
      h5.modal-title ABOUT

    .col-lg-12.text-center
      hr

    .col-lg-12.text-center
      p.lead
        a(href='https://github.com/aeksco/pantograph_cv', target='_blank') Pantograph
        |  is a tool that lowers the barrier to entry for working with 3D printers.

      p Pantograph provides a simple interface anybody can use for basic 3D design.

      p Simply drop any image and begin adjusting to the design to your desired size and shape.

    .col-lg-8.push-lg-2
      img.w-100.mb-1(src='./img/about.png')

    .col-lg-12.text-center
      p When you're finished editing your design,

      p simply click the Download button to generate a 3D-printable STL file.

      p It's that easy.

    .col-lg-12.text-center
      hr

      p
        | Built by&nbsp;
        a(href='http://aeks.co', target='_blank') Alexander Schwartzberg
        | &nbsp;for&nbsp;
        a(href='https://rcos.io/', target='_blank') RCOS.

      p
        | Powered by&nbsp;
        a(href='https://threejs.org/', target='_blank') Three.js
        | ,&nbsp;
        a(href='http://potrace.sourceforge.net/', target='_blank') Potrace
        | ,&nbsp;and&nbsp;
        a(href='https://github.com/kilobtye/potrace', target='_blank') Potrace.js
        | .
