nav.navbar.navbar-inverse.bg-inverse.navbar-toggleable-md

  a.navbar-brand( style='color:#fefefe;' )
    i.fa.fa-fw.fa-copy
    | PANTOGRAPH

  .navbar-collapse
    ul.navbar-nav

      li.nav-item
        a.nav-link( style='cursor:pointer', onClick="Backbone.Radio.channel('about').trigger('show');" ) About
