nav.navbar.navbar-inverse.bg-inverse.navbar-toggleable-md

  a.navbar-brand(href='#')
    i.fa.fa-fw.fa-copy
    | PANTOGRAPH

  .navbar-collapse
    ul.navbar-nav

      li.nav-item
        //- Obtrusive JS FTW #YOLO
        a.nav-link( onClick="Backbone.Radio.channel('about').trigger('show');" ) About
