nav.navbar.navbar-light.bg-faded.navbar-toggleable-md

  a.navbar-brand(href='#')
    i.fa.fa-fw.fa-copy
    | PANTOGRAPH

  .navbar-collapse
    ul.navbar-nav

      li.nav-item
        a.nav-link(href='#')
          | Home

      li.nav-item
        a.nav-link(href='#about') About
