
mixin downloadButton(opts)
  button.btn.btn-outline-success.w-50.m-b-1(data-download=opts.type)
    i.fa.fa-fw(class=opts.icon)
    | &nbsp;
    = opts.text

.col-lg-12
  p.lead Download

.col-lg-12
  .btn-group.w-100
    +downloadButton({ type: 'stl', icon: 'fa-cube', text: 'STL' })
    +downloadButton({ type: 'svg', icon: 'fa-file-image-o', text: 'SVG' })
