.row.m-t-1
  .col-xs-12.col-sm-12.col-md-4.col-lg-3
    .card.card-block
      .row
        .col-xs-12(data-region='upload')

        .col-xs-12
          hr.m-t-0
        .col-xs-12(data-region='form')

        .col-xs-12
          hr.m-t-0
        .col-xs-12(data-region='edge-form')

        .col-xs-12
          hr.m-t-0
        .col-xs-12(data-region='normals-form')

        .col-xs-12
          hr.m-t-0
        .col-xs-12(data-region='wireframe-form')

  .col-xs-12.col-sm-12.col-md-8.col-lg-9
    .card.card-block(data-region='render')
