.row.m-t-1
  .col-md-4
    .card.py-3

      .col-lg-12(data-region='upload')

      .col-lg-12
        hr
      .col-lg-12(data-region='object-editor')

      .col-lg-12
        hr.m-t-0
      .col-lg-12(data-region='platform-editor')

      .col-lg-12
        hr.m-t-0
      .col-lg-12(data-region='download')

  .col-md-8
    .card.card-block(data-region='render')
