include ../../../../../../partials/form_helpers

mixin shapeButton(opts)
  button.btn.btn-sm.btn-outline-primary.w-50.cursor-pointer(class=opts.css data-shape=opts.shape)
    i.fa.fa-fw(class=opts.icon)
    | &nbsp;
    = opts.text

.col-lg-12
  p.lead Platform

.col-lg-12
  +formInput({ label: 'Enabled', name: 'enabled', type: 'checkbox' })

.col-lg-12
  fieldset.form-group
    label.form-control-label Shape
    input(name='shape', type='hidden' )
    .btn-group.w-100
      +shapeButton({ shape: 'rect', icon: 'fa-square-o', text: 'Rectangle' })
      +shapeButton({ shape: 'circ', icon: 'fa-circle-o', text: 'Circle', css: 'active' })

.col-lg-12
  +formInput({ label: 'Height', placeholder: 2, value: 5, name: 'height', type: 'range', max: 100, min: 1  })
  +formInput({ label: 'Buffer', placeholder: 2, value: 5, name: 'buffer', type: 'range', max: 100, min: 1, formGroupCss: 'mb-0'  })
