include ../../../../../../partials/form_helpers

.col-lg-12
  p.lead Platform

.col-lg-12
  .row
    .col-lg-12
      +formInput({ label: 'Height', placeholder: 2, name: 'height', type: 'range', max: 100, min: 1  })

    //- .col-lg-12
    //-   +formInput({ label: 'Buffer', placeholder: 2, name: 'buffer', type: 'number' })

    .col-lg-12
      +formInput({ label: 'Enabled', name: 'enabled', type: 'checkbox' })
