include ../../../../../../partials/form_helpers

.col-lg-12
  p.lead Platform

.col-lg-12
  +formInput({ label: 'Enabled', name: 'enabled', type: 'checkbox' })
  +formInput({ label: 'Height', placeholder: 2, value: 5, name: 'height', type: 'range', max: 100, min: 1  })
  +formInput({ label: 'Buffer', placeholder: 2, value: 5, name: 'buffer', type: 'range', max: 100, min: 1, formGroupCss: 'mb-0'  })
